body {

}

.left-grid {
    display: inline-flex;
    flex-direction: column;
    width: 40%;
}
.right-grid {
    display: inline-flex;
    flex-direction: column;
}
.inline-component {
    display: inline-flex;
}
